body {
  background: #f9f7fe;
  font-family: "Protest Riot", sans-serif;
  color: rgb(126, 111, 94);
}
.all {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  height: 100vh;
}
a {
  color: #497be7;
}
strong {
  color: rosybrown;
}

.weather-app {
  overflow: hidden;
  background: rgb(144, 243, 255);
  background: -moz-linear-gradient(
    0deg,
    rgba(144, 243, 255, 1) 0%,
    rgba(252, 232, 188, 1) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(144, 243, 255, 1) 0%,
    rgba(252, 232, 188, 1) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(144, 243, 255, 1) 0%,
    rgba(252, 232, 188, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#90f3ff",endColorstr="#fce8bc",GradientType=1);
  background-position: center;
  max-width: 37.5rem;
  height: 35rem;
  margin: 0 auto;
  border: 1px solid;
  border-radius: 5%;
  box-shadow: 0.625rem 0.625rem 1.75rem 0px rgba(0, 0, 0, 0.58);
  -webkit-box-shadow: 0.625rem 0.625rem 1.75rem 0px rgba(0, 0, 0, 0.58);
  -moz-box-shadow: 0.625rem 0.625rem 1.75rem 0px rgba(0, 0, 0, 0.58);
}
.clouds-container {
  display: grid;
  width: 0;
  height: 0;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 auto;
  align-self: end;
  opacity: 0.3;
}
.image-clouds {
  margin-top: 16rem;
  margin-left: -18rem;
  width: 37.5rem;
  align-self: flex-end;
  box-sizing: border-box;
}
header {
  padding-bottom: 1.875rem;
}

.search-input {
  margin-left: 10%;
  margin-top: 10%;
  font-family: "Protest Riot", sans-serif;
  background-color: rgba(128, 128, 128, 0.205);
  border: 1px solid rgb(92, 83, 83);
  color: rgba(39, 33, 66, 0.4);
  font-size: 1rem;
  padding: 1.25rem;
  width: 60%;
  border-radius: 0.375rem;
}

.search-button {
  font-family: "Protest Riot", sans-serif;
  margin-left: 0.3125rem;
  font-size: 1rem;
  background-color: #5d91f1;
  color: white;
  border: none;
  padding: 1.25rem;
  line-height: 1;
  border-radius: 0.3125rem;
}

main {
  margin-left: 10%;
  margin-top: 5%;
  padding: 0.125rem 0;
}

.current-temperature {
  font-size: 3rem;
  margin-right: 10%;
  display: flex;
}
.current-temperature-icon {
  display: inline-block;
  padding: 0 auto;
  margin: 0 auto;
  box-sizing: border-box;
}

.current-weather {
  display: flex;
  justify-content: space-between;
}

.current-city {
  font-size: 3.8rem;
  font-weight: 900;
  margin: 0;
}
.current-details {
  color: rgba(39, 33, 66, 0.4);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}

.current-temperature-icon {
  position: relative;
  top: -0.5rem;
  font-size: 2.5rem;
  margin-right: 0.625rem;
}

.current-temperature-value {
  font-size: 5rem;
  font-weight: bold;
}

.current-temperature-unit {
  font-size: 1.8rem;
  position: relative;
  top: -1rem;
  bottom: 1rem;
}
.forecast {
  display: flex;
  justify-content: space-evenly;
  padding: 0;
  margin: 0;
}
.day {
  text-shadow: 1px 1px 2px rgb(255, 255, 255);
  font-size: 1rem;
}
.forecast-icon {
  margin: 0;
  width: 35px;
}
.weather {
  font-weight: 200;
  font-size: 0.8rem;
}
.min {
  color: rgba(0, 0, 0, 0.486);
  text-shadow: none;
}
footer {
  margin-left: 10%;
  text-align: center;
  padding-top: 0.625rem;
  color: rgba(39, 33, 66, 0.4);
}

@-webkit-keyframes flip-scale-2-hor-top {
  0% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
    transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }
  50% {
    -webkit-transform: translateY(-50%) rotateX(-90deg) scale(2);
    transform: translateY(-50%) rotateX(-90deg) scale(2);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  100% {
    -webkit-transform: translateY(-100%) rotateX(-180deg) scale(1);
    transform: translateY(-100%) rotateX(-180deg) scale(1);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
  }
}
@keyframes flip-scale-2-hor-top {
  0% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
    transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }
  50% {
    -webkit-transform: translateY(-50%) rotateX(-90deg) scale(2);
    transform: translateY(-50%) rotateX(-90deg) scale(2);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  100% {
    -webkit-transform: translateY(-100%) rotateX(-180deg) scale(1);
    transform: translateY(-100%) rotateX(-180deg) scale(1);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
  }
}
.animation {
  -webkit-animation: flip-scale-2-hor-top 0.5s linear both;
  animation: flip-scale-2-hor-top 0.5s linear both;
}
